@media screen {
    html {
        height: 100%; /* make sure it is at least as tall as the viewport */
        position: relative;
    }

    body {
    }

    .sidebar {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-style: italic;
        background-color: lightgray;
        width: 30%;
    }

    a {
        color: lightgray;
    }

    .name {
        font-style: normal;
        font-size: xx-large;
        margin: 0;
        padding: 0;
        color: white;
    }

    .title {
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
        font-style: italic;
        font-size: x-large;
    }

    .content {
        float: right;
        width: 70%;
        padding-bottom: 120px;
    }

    .nameBlock {
        margin: 0;
        padding-left: 60px;
    }

    .contactInfo {
        padding-bottom: 20px;
        margin: 0;
        padding-left: 60px;
    }

    .sidebarTop {
        background-color: steelblue;
        color: lightgray;
        overflow: hidden;
        position: relative;
    }

    .education {
        padding-left: 60px;
        line-height: 8px;
    }

    .skills {
        padding-left: 60px;
        line-height: 2px;
    }

    .securityClearance {
        padding-left: 60px;
    }

    .volunteer {
        padding-left: 60px;
    }

    .profilePhoto {
        float: right;
        position: absolute;
        top: 0;
        right: 0;
        width: 20%;
        height: auto;
        marign: 1px;
    }

    .profilePhotoDiv {
    }

    .exportFooter {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px
    }
}
